<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GaraDb"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=GaraDb;Trusted_Connection=True;TrustServerCertificate=True;Connect Timeout=3;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
